{
  "extends": [
    "vacuumlabs"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": false
  },
  "plugins": [
    "flowtype",
    "compat"
  ],
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "no-unexpected-multiline": 2,
    "no-duplicate-imports": 0,
    "import/no-duplicates": "error"
  },
  "settings": {
    "polyfills": [
      "promises"
    ]
  }
}

